@import "../../../styles/vars";

$leftPadding: 10px;

.react-datepicker {
	* {
		font-size: 1.4rem;
	}
	.react-datepicker__current-month {
		font-size: 1.2rem;
	}

	.react-datepicker__day-name, .react-datepicker__day {
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
	}
}

.data-list {
	//margin: 10px;

	.list-more {
		margin: 15px 0;
		a {
			margin-right: 10px;
		}
	}

	.list-title {
		h2 {
			display: inline-block;
			vertical-align: top;
			line-height: 24px;
		}
		.list-menu {
			display: inline-block;
			line-height: 24px;
			vertical-align: top;
			//float: right;
			padding-top: 2px;
			padding-left: 20px;
		}
	}

}

.data-menu {
	margin: 0 0 10px 0;
	background: #eee;
	padding: 10px;
	height: 50px;
	//line-height: 30px;

	.btn {
		margin-right: 15px;
	}

	input {
		width: 30%;
		vertical-align: middle;
		border-radius: $borderRadius;
		border: 1px solid $border;
		padding: 5px;
	}

	.loader {
		margin: 0 15px;
	}
}

table.data-list-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-left: -$leftPadding;

	& > thead th {
		padding: 10px 10px;
		font-weight: 400;
		vertical-align: top;
		border-bottom: 1px solid $border;
		font-size: 12px;

		a {
			color: #888;
		}

		&:first-child {
			padding-left: $leftPadding;
		}

		[class^="icon-"], [class*=" icon-"] {
			&:before {
				margin-left: 5px;
				margin-bottom: 3px;
				font-size: 10px;
			}
		}
	}

	.data-row {
		cursor: pointer;
		border-bottom: 1px solid $border;
		//transition: background 200ms;

		&:hover {
			background: $hoverBg;
			input {
				background: $hoverBg;
			}
		}

		&.relation-hover {
			&:hover {
				background: none;
				& > td {
					color: $text;
				}
			}
		}

		//[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before {
		//	color: $uiColor1;
		//}

		& > td {
			padding: 10px 10px;
			vertical-align: top;
			word-wrap: break-word;
			white-space: nowrap;
			overflow: hidden;
			max-width: 0;
			text-overflow: ellipsis;

			&.full-text {
				white-space: normal;
			}

			&:first-child {
				padding-left: $leftPadding;
			}

			&.editable-cell {
				cursor: default;
				overflow: visible;
			}

			&.model-field,
			&.select-field {
				overflow: visible;
				//input {
				//	background: #fff;
				//}
				//&:hover {
				//	input {
				//		border: 1px solid $uiColor1alpha;
				//	}
				//}
			}

			span.value {
				height: 30px;
				line-height: 21px;
				padding: 5px 0;
			}
		}

	}

	.rw-widget {
		border-radius: $borderRadius;
	}

	&.loading {
		//opacity: 0.5;
	}

	.error {
		color: #c00;
	}

	.data-boolean {
		&.true {
			color: $uiColor2;
			&:hover {
				color: $uiColor2;
			}
		}
		&.false {
			color: #888;
		}
		.inline {
			position: inherit;
			margin: 0;
			height: auto;
			text-align: center;
			[class^=icon-] {
				cursor: pointer;
			}
		}
	}

	.data-date {

		overflow: visible !important;
		td {
			overflow: visible;
		}

		.inline-date {
			display: inline-block;
			margin: -5px -5px -5px -5px;

			input {
				background: #fff;
				border: 1px solid transparent;
				&:hover,
				&:focus,
				&:active {
					border: 1px solid $uiColor1;
				}
			}
		}
	}

	.data-number {
		&.negative {
			color: #d00;
			input {
				color: #d00;
			}
		}
	}

	.id {
		width: 50px;
		text-align: left;
	}

	.left {
		text-align: left;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
		input {
			text-align: right;
		}
	}

	.empty {
		color: #888;
	}

	&.inline-list {
		th:last-of-type,
		td:last-of-type {
			width: 60px;
			display: table-cell;
			text-align: right;
		}
	}

	@include respond-to(xxs) {
		tr th:nth-of-type(2) ~ th,
		tr td:nth-of-type(2) ~ td {
			display: none !important;
		}
	}

	@include respond-to(xs) {
		tr th:nth-of-type(3) ~ th,
		tr td:nth-of-type(3) ~ td {
			display: none !important;
		}
	}

	@include respond-to(sm) {
		tr th:nth-of-type(5) ~ th,
		tr td:nth-of-type(5) ~ td {
			display: none !important;
		}
	}

	@include respond-to(md) {
		tr th:nth-of-type(7) ~ th,
		tr td:nth-of-type(7) ~ td {
			display: none !important;
		}
	}

	.inline {
		display: block;
		position: relative;
		height: 30px;
		margin: -5px -5px -5px -6px;

		input {
			position: absolute;
			display: block;
			border: 1px solid transparent;
			box-sizing: border-box;
			outline: 0;
			padding: 5px !important;
			margin: 0;
			width: 100%;
			min-width: 50px;
			height: 30px;
			&:hover,
			&:focus,
			&:active {
				background: #fff;
				border: 1px solid $uiColor1;
			}
		}

		.edit-block {
			position: absolute;
			display: block;
			width: calc(100% + 40px);
			height: 40px;
			padding: 5px;
			margin: -5px;
			//background: rgba(255,255,255,0.5);
			background: #fff;
			z-index: 200;
			@include box-shadow;
			@include border-radius;
			input {
				width: calc(100% - 40px);
			}
		}

		.ok:before {
			cursor: pointer;
			position: absolute;
			display: inline-block;
			//background: $uiColor3;
			width: 30px;
			height: 30px;
			line-height: 30px;
			right: 0;
			top: 5px;
			//color: #fff;
			&:hover {
				color: $uiColor2;
			}
		}

		.relation {
			display: block;
		}

	}

	.drop-down {
		position: relative;
		height: 30px;
		margin: -5px -5px -5px 0;
		//background: #00f;
		@include border-radius;

		.placeholder {
			div {
				height: 28px;
			}
			@include border-radius;
			border: 1px solid transparent;
			padding: 0 5px;
			height: 30px;
			line-height: 30px;
			cursor: pointer;

			&:hover {
				background: #fff;
				border: 1px solid $uiColor1;
			}
		}

		.drop-down-search {
			border: 1px solid transparent;
			box-sizing: border-box;
			cursor: pointer;
			display: block;
			height: 30px;
			padding: 5px 30px 5px 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

			&::-webkit-input-placeholder {color: #000;}
			&::-moz-placeholder {color: #000;}
			&:-ms-input-placeholder {color: #000;}
			&::placeholder { color: #000; }

			&:focus {
				cursor: text;
				&::-webkit-input-placeholder {color: $veryBrightText;}
				&::-moz-placeholder {color: $veryBrightText;}
				&:-ms-input-placeholder {color: $veryBrightText;}
				&::placeholder { color: $veryBrightText; }
			}
		}

		.down-icon {
			display: none;
			cursor: pointer;
			color: $brightText;
			font-size: 10px;
			position: absolute;
			top: 8px;
			right: 5px;
		}

		&:hover {
			border-color: $uiColor1alpha;
			.down-icon {
				display: inline-block;
			}
		}

		&.active {
			z-index: 2000;

			&:hover {
				border-color: $border;
			}
			.down-icon {
				display: inline-block;
			}
		}

		.loading {
			width: 300px;
			position: absolute;
			top: 30px;
			padding: 10px;
			height: calc(12 * 34px);
			left: 0;
			right: 0;
			background: #fff;
			@include border-radius;
			@include box-shadow;
		}

		.list {
			width: 300px;
			position: absolute;
			top: 30px;
			max-height: calc(12 * 34px);
			overflow-y: auto;
			left: 0;
			right: 0;
			background: #fff;
			@include border-radius;
			@include box-shadow;

			&.on-top {
				top: auto;
				bottom: 30px;
			}

			.item {
				display: block;
				padding: $inputVPad $inputHPad;
				line-height: 24px;
				height: 34px;
				border-bottom: 1px solid $border;
				text-decoration: none;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&:last-of-type {
					border-bottom: 0;
				}

				&:hover {
					background: $hoverBg;
				}

				&.selected {
					background: $selectedBg;
				}
			}

			.more {
				border-top: 1px solid $border;
				padding: $inputVPad $inputHPad;
				height: 34px;
				line-height: 24px;

				a {
					color: $uiColor1;
					&:hover {
						color: #000;
					}
					margin-right: 10px;
				}
			}
		}
	}

}

.data-table-loader {

	.loader {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -32px;
		margin-top: -32px;
	}
}

.middle {
	.data-list-table {
		.data-row {
			td {
				vertical-align: middle;
			}
		}
	}
}

.relation-link {
	color: #000;
	cursor: pointer;
	&:hover {
		color: $uiColor1;
	}
}