@import "../../../styles/vars";

.RichEditor-root {
	background: $editBg;
	color: #000;
	padding: 0;
	border: 1px solid $border;

	.rich-controls {
		background: rgba(200, 200, 200, 0.5);
		padding: 3px 5px;
	}

	.RichEditor-editor {
		cursor: text;
		padding: $inputVPad $inputHPad;
		min-height: 161px;

		.public-DraftEditorPlaceholder-root,
		.public-DraftEditor-content {
			//margin: 0 -15px -15px;
			padding: 10px 0 5px 0;
			min-height: 21px;
		}

		&.simple {
			min-height: inherit;
			line-height: 21px;

			.public-DraftEditorPlaceholder-root,
			.public-DraftEditor-content {
				margin: 0;
				padding: 0;
			}
		}
	}

	&.inline {
		border: 1px solid transparent;
		margin: 0 -5px;
		padding: 4px;

		.RichEditor-editor {
			min-height: inherit;
		}

		.rich-controls {
			opacity: 0.5;
		}

		&:hover {
			border: 1px solid $border;
			.rich-controls {
				opacity: 1;
			}
		}

		.RichEditor-editor {
			padding: 0;
		}

		&.active {
			border: 1px solid $border;

			.rich-controls {
				opacity: 1;
			}
		}

	}

}



.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.RichEditor-editor .RichEditor-blockquote {
	color: #666;
	font-family: 'Hoefler Text', 'Georgia', serif;
	font-style: italic;
	margin: 16px 0;
	font-size: 14px;
	//background: rgba(255,255,255,0.7);
	//border: 1px solid rgba(0,0,0,0.1);
	border-left: 5px solid $border;
	padding: 5px 15px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	border: 0;
	padding: 5px;
	//font-size: 16px;
	//padding: 20px;

	pre {
		border: 0;
		padding: 0;
	}
}

.RichEditor-controls {
	display: inline;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	margin-right: 10px;
	user-select: none;
}

.RichEditor-styleButton {
	color: #000;
	background: transparent;
	cursor: pointer;
	margin-right: 8px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 2px 5px;
	display: inline-block;
	text-align: center;
	min-width: 27px;
	line-height: 24px;
	height: 27px;
	//transition: background 100ms;

	&:hover {
		background: rgba(0,0,0,0.2);
	}
}

.RichEditor-activeButton {
	color: #000;
	background: #ccc;

	&:hover {
		background: rgba(0,0,0,0.2);
	}
}

.public-DraftStyleDefault-block {
	margin: 0;
}

/* Buttons */

.rich-bold {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.rich-italic {
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.rich-underline {
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif;
}
