@import "../../../styles/vars";

.multi-filter {
	position: relative;
	background: #fff;
	display: inline-block;
	border: 1px solid $border;
	height: 33px;
	padding: 2px 2px;

	.add-filter {
		display: inline-block;
		vertical-align: middle;
		background: #e0e0e0;
		width: 27px;
		height: 27px;
		line-height: 27px;
		text-align: center;
		@include border-radius();
		color: #444;
		margin-right: 2px;

		&:hover {
			background: #ccc;
		}

		&.disabled {
			pointer-events: none;
			color: #aaa;
			cursor: default;
			&,
			&:hover {
				background: #e8e8e8;
			}
		}
	}

	.relations {
		display: inline-block;
		vertical-align: middle;

		.selected-relation {
			display: inline-block;
			vertical-align: middle;
			background: #e0e0e0;
			border: 1px solid #e0e0e0;
			color: #666;
			height: 27px;
			line-height: 25px;
			@include border-radius();
			padding: 0 5px;
			margin-right: 2px;
			position: relative;

			.select-btn {
				display: inline-block;
				vertical-align: middle;
				line-height: 20px;
				color: #000;
				max-width: 120px;
				overflow: hidden;
				word-wrap: break-word;
				white-space: nowrap;
				text-overflow: ellipsis;

				&:hover {
					color: $uiColor1;
				}
			}

			&.active {
				background: #e0f0ff;
				border: 1px solid $border;
			}

			.remove-relation {
				cursor: pointer;
			}
		}
	}

	.relations-list {
		width: 240px;
		position: absolute;
		left: -1px;
		top: 31px;
		background: #fff;
		border: 1px solid $border;
		@include box-shadow();

		a {
			display: block;
			padding: 7px 10px;
			text-decoration: none;
			border-top: 1px solid $border;
			&:first-of-type {
				border: 0;
			}
			&:hover {
				background: $selectedBg;
			}
		}
	}

	.model-input {
		width: 240px;
		position: absolute;
		left: -1px;
		top: 27px;
		background: #fff;
		border: 1px solid $border;
		@include box-shadow();

		a.item {
			display: block;
			padding: 7px 10px;
			text-decoration: none;
			border-top: 1px solid $border;
			&:first-of-type {
				border: 0;
			}
			&:hover {
				background: $selectedBg;
			}
		}

		.drop-down {
			clear: both;
			border: 1px solid $border;
			position: relative;
			@include border-radius;

			&:hover {
				border-color: $uiColor1alpha;
			}

			.drop-down-search {
				display: block;
				width: 100%;
				cursor: pointer;
				padding: $inputVPad 37px $inputVPad $inputHPad !important;
				border: 0;
				text-overflow: ellipsis;

				&::-webkit-input-placeholder {color: #000;}
				&::-moz-placeholder {color: #000;}
				&:-ms-input-placeholder {color: #000;}
				&::placeholder { color: #000; }

				&:focus {
					cursor: text;
					&::-webkit-input-placeholder {color: $veryBrightText;}
					&::-moz-placeholder {color: $veryBrightText;}
					&:-ms-input-placeholder {color: $veryBrightText;}
					&::placeholder { color: $veryBrightText; }
				}
			}

			.down-icon {
				cursor: pointer;
				color: #666;
				font-size: 12px;
				position: absolute;
				top: 10px;
				right: 10px;
				transition: transform $animationTime;
				&.active {
					transform: rotate(180deg);
				}
			}

			&.active {
				z-index: 2000;

				&:hover {
					border-color: $border;
				}
			}

			.placeholder {
				@include border-radius;
				//border: 1px solid $border;
				background: $editBg;
				padding: $inputVPad $inputHPad;
				line-height: 24px;
				cursor: pointer;
			}

			.list {
				position: absolute;
				top: 34px;
				max-height: calc(11 * 35px);
				overflow-y: auto;
				left: -1px;
				right: 0;
				background: #fff;
				border: 1px solid $border;
				@include border-radius;
				@include box-shadow;

				.item {
					display: block;
					padding: $inputVPad $inputHPad;
					line-height: 24px;
					height: 34px;
					border-bottom: 1px solid $border;
					text-decoration: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					&:last-of-type {
						border-bottom: 0;
					}

					&:hover {
						background: $hoverBg;
					}

					&.selected {
						background: $selectedBg;
					}
				}

				.more {
					border-top: 1px solid $border;
					padding: $inputVPad $inputHPad;
					height: 34px;
					line-height: 24px;

					a {
						color: $uiColor1;
						&:hover {
							color: #000;
						}
						margin-right: 10px;
					}
				}
			}
		}

	}

	.filter-input {
		width: auto;
		vertical-align: middle;
		border: 0;
		outline: none;
	}
}